{% extends 'base.html' %}
{% load static %}
{% block title %} Easy Food {% endblock title %}
{% block CSS %}{{block.super}}
<style>
  .carousel-image {
    height: 170px;
    width: 170px;
    border: 0px solid white;
    border-radius: 50%;
    transition: border 1s;
  }

  .carousel-image:focus {
    border: solid 10px white;
  }
  @media screen and (min-width: 992px) {
    .card {
      width: 29.1% !important;
    }
  }
  .post-image{
    height: 230px;
  }

  .post-image , .carousel-image {
    border: 0px solid white;
    transition: border 1s;
  }

  .post-image:hover, .carousel-image:hover
  .post-image:focus, .carousel-image:hover {
    border: solid 10px white;
  }

  .card-title , .carousel-title {
    transition: color 0.2s;
  }

  .card-title:hover ,  .carousel-title:hover,
  .card-title:focus {
    color: orange;
  }

  .read {
    color: black;
  }

  .read:hover,
  .read:focus {
    color: orange;
    font-weight: bold;
  }
  .owl-carousel{
    width: 83%;
  }


</style>
{% endblock CSS %}


{% block content %}
{% include "blogapp/navbar.html" %}
<section >
<div id="bg-color">
  <div class="owl-carousel owl-theme mx-auto  pt-5 ">
    {% for blogs in blogs %}
    <div class="item"><a href="{% url 'category' blogs.slug %}">
        <img class="carousel-image" src="{{ blogs.image.url }}"></a>
      <a><h5 class="text-center carousel-title"> {{blogs.name}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
  <h3 class="text-center pt-5 ">Featured Posts</h3>
  <div class="py-4 row col-11  mx-auto">
    {% for cats in post %}
    <div class="card shadow border-0 p-0 my-4 mx-4 col-md-5 col-sm-11 ">
      <a href="{% url 'detail' cats.slug %}">
        <img class="card-img-top post-image" src="{{ cats.image.url }}"></a>
      <div class="card-body ">
        <a href="{% url 'detail' cats.slug %}" class="text-decoration-none text-dark">
          <h5 class="card-title fw-bold ">{{cats.title|truncatechars:21}}</h5>
        </a>
        <small class="mb-1">{{cats.updated_at|date:'M. d, Y'}}</small>
        <p class="card-text mb-0">{{cats.content|safe|truncatechars:70}}</p>
        <a href="{% url 'detail' cats.slug %}" class="text-decoration-none  read">Read More <i
            class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>
{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}