{% extends 'base.html' %}
{% load static %}

{% block title %} privacy policy {% endblock title %}

{% block CSS %} {{block.super}} {% endblock CSS %}
<style>
    .bg-color {
        background-color: whitesmoke;
    }
</style>
{% block content %}
{% include "blogapp/navbar.html" %}
<section>
<div class="w-75 mx-auto py-5">
    <h3 class="text-center pb-5">Privacy Policy</h3>
    <p>Welcome to Apartment Therapy’s Privacy Policy. This Privacy Policy describes how Apartment Therapy, LLC
        (“Apartment Therapy,” “we,” “us,” or “our”) collects, uses, shares, and safeguards personal information. This
        Privacy Policy also explains your rights and choices with respect to your personal information, and how you can
        reach us to get answers to your questions. You can jump to particular topics by going to the headings below:</p>
    <h4>Types of Information We Collect</h4>
    <p>The following provides examples of the type of information that we collect from you and how we use that
        information. </p>

    <p><b>Account Registration:</b> We collect your contact information when you become a member. We also collect
        information relating to the actions that you perform while logged into your account. We have a legitimate
        interest in providing account related functionalities to our members. Accounts can be used to save and organize
        content, images, products, and recipes. </p>

    <p><b>Cookies and first party tracking: </b> use cookies and clear GIFs. “Cookies” are small pieces of information
        that a website sends to a computer’s hard drive while a web site is viewed. We have a legitimate interest in
        making our website operate efficiently.</p>

    <p><b>Cookies and Third Party Tracking:</b> We participate in behavior-based advertising, this means that a third
        party uses technology (e.g., a cookie) to collect information about your use of our website so that they can
        provide advertising about products and services tailored to your interests on our website, or on other websites.
        Where required by law, we base the use of third party cookies upon consent. </p>

    <p><b>Demographic Information:</b> We collect personal information, such as your location. We have a legitimate
        interest in understanding our users and providing tailored services.</p>

    <p><b>Distance Information: </b> you use our app we collect your location from the GPS, Wi-Fi, and/or cellular
        technology in your device to determine your location and your distance from a store that sells our products. We
        have a legitimate interest in understanding our users and providing tailored services. In some contexts our use
        is also based upon your consent to provide us with geo location information.</p>

    <p><b>Email Interconnectivity:</b> If you receive email from us, we use certain tools to capture data related to
        when you open our message, click on any links or banners it contains and make purchases. We have a legitimate
        interest in understanding how you interact with our communications to you.</p>

    <p><b>Content Contributors / Independent Contractors: </b> you are engaged as an independent contractor to
        contribute content for our website, we collect information necessary for the engagement. This may include, among
        other things, your Social Security Number. Providing this information is required for the engagement. We use
        information about our independent content contributors to perform our independent contractor agreements. In some
        contexts, we are also required by law to collect information about our independent contractors. We also have a
        legitimate interest in using your information to have efficient work force operations.</p>

    <p><b>Feedback/Support:</b> If you provide us feedback or contact us for support we will collect your name and
        e-mail address, as well as any other content that you send to us, in order to reply. We have a legitimate
        interest in receiving, and acting upon, your feedback or issues.</p>

    <p><b>Newsletters:</b> When you sign up for one of our mailing lists we collect your email address. We share
        information about our products and services with individuals that consent to receive such information. We also
        have a legitimate interest in sharing information about our products or services.</p>

    <p><b>Marketing Panel:</b> If you are selected to participate in a consumer marketing panel, we will collect your
        shipping address. We have a legitimate interest in facilitating our consumer marketing panel with individuals
        that consent to participate. </p>

    <p><b>Mobile Devices:</b> We collect information from your mobile device such as unique identifying information
        broadcast from your device when visiting our website. We have a legitimate interest in identifying unique
        visitors, and in understanding how users interact with us on their mobile devices.</p>

    <p><b>Partner Promotion:</b> We collect information that you provide as part of a program or event that we
        co-sponsor or co-market with another organization. We have a legitimate interest in fulfilling our promotions.
    </p>

    <p><b>Social Media and Share Links: </b>When you “like” or “follow” us on Facebook, Instagram, Pinterest or other
        social media sites, we may collect your information. This information may include your name, e-mail address, and
        any comments or content you post that are relevant to us. We may also collect your information if you submit
        information to us through Facebook, Pinterest, Instagram or another social media site. These links may include
        the use of so-called “share links.” A “share link” is a button and/or text link appearing on our website that
        launch a sharing mechanism that allow you to post links to, and content from, our website onto other websites.We
        have a legitimate interest in understanding our users and providing tailored services. Our use is also based
        upon your consent.</p>

    <p><b>Surveys:</b> When you participate in a survey we collect information that you provide through the survey. If
        the survey is provided by a third party service provider, the third party’s privacy policy applies to the
        collection, use, and disclosure of your information. We have a legitimate interest in understanding your
        opinions, and collecting information relevant to our organization.</p>

    <p><b>Sweepstakes or contests:</b> When you participate in a sweepstakes or contest we collect information about you
        which includes contact information to notify you if you are selected. We have a legitimate interest in operating
        the sweepstakes. In some contexts we are also required by law to collect information about those that enter into
        our sweepstakes, and we have a legitimate interest in complying with those laws.</p>

    <p><b>Website interactions:</b> We use technology to monitor how you interact with our website. This may include
        which links you click on, or information that you type into our online forms. This may also include information
        about your device or browser.We have a legitimate interest in understanding how you interact with our website to
        better improve it, and to understand your preferences and interests in order to select offerings that you might
        find most useful. We also have a legitimate interest in detecting and preventing fraud.</p>

    <p><b>Web logs:</b> We collect information, including your browser type, operating system, Internet Protocol (IP)
        address (a number that is automatically assigned to a computer when the Internet is used), domain name,
        click-activity, referring website, and/or a date/time stamp for visitors. We have a legitimate interest in
        monitoring our networks and the visitors to our websites. Among other things, it helps us understand which of
        our services is the most popular.</p>

    <p>In addition to the information that we collect from you directly, we may also receive information about you from
        other sources, including third parties, business partners, our affiliates, or publicly available sources. For
        example, if you submit a job application, or become an employee, we may conduct a background check.</p>

    <h4>Use and Processing Of Information</h4>
    <p>In addition to the purposes and uses described above, we use information in the following ways:</p>
    <ul>
        <li>To identify you when you visit our websites.</li>
        <li>To improve our services and offerings.</li>
        <li>To conduct analytics.</li>
        <li>To respond to inquiries related to support, employment opportunities, or other requests. </li>
        <li>To send marketing and promotional materials including information relating to our services, sales, or
            promotions, or those of our business partners.</li>
        <li>For internal administrative purposes, as well as to manage our relationships.</li>
    </ul>
    <p>Although the sections above describe our primary purpose in collecting your information, in many situations we
        have more than one purpose. As a result, our collection and processing of your information is based in different
        contexts upon your consent, our need to perform a contract, our obligations under law, and/or our legitimate
        interest in conducting our business.</p>
    <h4>Sharing Of Information</h4>
    <p>In addition to the specific situations discussed elsewhere in this policy, we disclose information in the
        following situations:</p>

    <ol>
        <li><b>Acquisitions. </b> another company acquires, or plans to acquire, our company, business, or our assets,
            we
            will
            also share information with that company, including at the negotiation stage.</li>
        <li><b>Other Disclosures with Your Consent.</b> We may ask if you would like us to share your information with
            other
            unaffiliated third parties who are not described elsewhere in this policy.</li>
        <li><b>Other Disclosures without Your Consent. </b> may disclose information in response to subpoenas, warrants,
            or
            court
            orders, or in connection with any legal process, or to comply with relevant laws. We may also share your
            information
            in order to establish or exercise our rights, to defend against a legal claim, to investigate, prevent, or
            take
            action regarding possible illegal activities, suspected fraud, safety of person or property, or a violation
            of
            our
            policies, or to comply with your request for the shipment of products to or the provision of services by a
            third
            party intermediary.</li>

        <li><b>Public</b>. Our website may provide the opportunity to post comments in chat rooms, message boards,
            bulletin
            boards or
            similar public forums where you and other users of our website can communicate. If you decide to submit
            information
            on these pages, that information may be publicly available.</li>
        <li><b>Partner Promotion.</b> We may offer contests, sweepstakes, or other promotions with third party partners.
            If
            you
            decide
            to enter a contest, sweepstakes, or promotion that is sponsored by a third party partner the information
            that
            you
            provide will be shared with us and with them. Their use of your information is not governed by this privacy
            policy.
            When you use our website, we share information that we collect from you, such as your email (in hashed
            form), IP
            address or information about your browser or operating system, with our identity partners/service providers,
            including LiveRamp Inc. LiveRamp returns an online identification code that we may store in our first-party
            cookie
            for our use in online and cross-channel advertising and it may be shared with advertising companies to
            enable
            interest-based and targeted advertising. To opt out of this use, please click here
            (https://liveramp.com/opt_out/).</li>
        <li><b>Service Providers.</b> We may share your information with service providers. Among other things service
            providers
            may
            help us to administer our website, conduct surveys, provide technical support, process payments, and assist
            in
            the
            fulfillment of orders.</li>
    </ol>
    <h4>How We Protect Personal Information</h4>
    <p>No method of transmission over the Internet, or method of electronic storage, is fully secure. While we use
        reasonable efforts to protect your personal information from unauthorized access, use, or disclosure, we cannot
        guarantee the security of your personal information. In the event that we are required by law to inform you of a
        breach to your personal information we may notify you electronically, in writing, or by telephone, if permitted
        to
        do so by law.

        Our website permits you to create an account. When you do you will be prompted to create a password. You are
        responsible for maintaining the confidentiality of your password, and you are responsible for any access to or
        use
        of your account by someone else that has obtained your password, whether or not such access or use has been
        authorized by you. You should notify us of any unauthorized use of your password or account.
    </p>
</div>
</section>
{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}