{% extends 'base.html' %}
{% load static %}

{% block title %} {{post.title|lower}}{% endblock title %}

{% block CSS %} {{block.super}}
<style>
</style>
{% endblock CSS %}

{% block content %}
{% include "blogapp/navbar.html" %}
<section>
    <div class="container">
        <div class="row">
            
        </div>
    </div>

</section>
<h2>{{profile.username}}</h2>
<h2>{{profile.first_name}}</h2>
<h2>{{profile.email}}</h2>


{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}