{% extends 'base.html' %}
{% load static %}
{% block title %}Registraion{% endblock title %}

{% block CSS %}{{block.super}}
<style>
    .image-container {
        background-image: url("{% static 'blogapp/images/pexels-ella-olsson-1640774.jpg' %}");
        background-size:cover;
    }
    .register-form{
        border-radius: 20px;
    }
    #form-label{
        font-weight: bold;
    }
    .register-button{
        background-color: rgb(248, 166, 15);
    }
    .register-heading{
        color: orange;
    }
    .register-anker{
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
</style>
{% endblock CSS %}

{% block header %}{{block.super}} {% endblock header %}

{% block content %}
<div class="image-container py-xs-0 py-md-5 py-sm-5 py-lg-5 ">
    <form  method="POST" novalidate class="px-4 shadow-lg  mx-auto register-form bg-white col-xs-8 col-sm-8 col-md-5 col-lg-3 ">
        <h2 class="text-center p-3 register-heading">Register</h1>
        {% csrf_token %}
        <div class="my-3">
           {{form.username}}
            <small id="name" class="text-danger">{{form.username.errors}}</small>
        </div>
        <div class="row my-3">
            <div class="col-6">
                {{form.first_name}}
                <small id="first" class="text-danger">{{form.first_name.errors}}</small>
            </div>
            <div class="col-6">
                {{form.last_name}}
                <small id="last" class="text-danger">{{form.last_name.errors}}</small>
            </div>
        </div>
        <div class="my-3">
            {{form.email}}
            <small id="email" class="text-danger">{{form.email.errors}}</small>
        </div>
        <div class="my-3">
            {{form.password1}}
            {{form.password1.errors}}
            <small id="pass1" class="text-danger">{{form.password1.errors}}</small>
        </div>
        <div class="my-3">
            {{form.password2}}
            <small id="pass2" class="text-danger">{{form.password2.errors}}</small>
        </div> 
        <div class="my-3">
            <small >{{form.policy}} I agree the <a href="{% url 'terms' %}" class="register-anker">Terms of Services</a>and <a
                href="{% url 'policy' %}" class="register-anker">Privacy Policy</a>.</small>
            <small id="policy" class="text-danger">{{form.password2.errors}}</small>
        </div>
        <input type="submit" value="Register" class="my-2 w-100 btn btn-warning register-button"> 
        <small class="my-3 pb-5 text-center " >Already have an account ? <a href="{% url 'login' %}" class="register-anker">Login</a></small>
    </form>
</div>
{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}
{{block.super}}
<script>
    const keyname = () => {
        let uname = document.getElementById("{{form.username.auto_id}}").value;
        let re = /^[A-Za-z0-9/_@/./+/-]+$/
        if (!(re.test(uname))) {
            document.getElementById("name").innerText = "Username can include alphabets , digits and @,.,+,-,_ only ";
        }
        else if (uname !== "") {
            document.getElementById("name").innerText = "";
        }
    }
    const blurname = () => {
        let uname = document.getElementById("{{form.username.auto_id}}").value
        if (uname === "") {
            document.getElementById("name").innerText = "Username is required";
        }
    }
    // const keyemail = () => {
    //     let uemail = document.getElementById("{{form.email.auto_id}}").value
    //     console.log("simmi")
    //     console.log(uemail)
    // }
    // const bluremail = () => {
    //     let uemail = document.getElementById("{{form.email.auto_id}}").value
    //     console.log(uemail)
    //     let re = /^\w+([\.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/
    //     // if (!(re.test(uemail))) {
    //     //     setEmailErr("Please enter valid email")
    //     // }
    // }
    // const keypass1 = (e) => {
    //     let upass = e.target.value
    //     let re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/
    //     if (upass.length < 8) {
    //         setPassErr("Password must have atleast 8 characters")
    //     }
    //     else if (!(re.test(upass))) {
    //         setPassErr("Password should contain atleast one digit , one uppercase letter ,one lowercase letter , one special character")
    //     }
    //     else if ((re.test(upass))) {
    //         setPassErr("")
    //     }
    // }
    // const blurpass1 = (e) => {
    //     let upass = e.target.value
    //     let re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/
    //     if (upass === "") {
    //         setPassErr("Password is required")
    //     }
    //     else if (!(re.test(upass))) {
    //         setPassErr("Please enter valid password")
    //     }
    // }
    // const keypass2 = (e) => {
    //     let repass = e.target.value
    //     let upass = document.getElementById("upass").value
    //     if (repass !== "") {
    //         setRePassErr("")
    //     }
    //     if (upass !== repass) {
    //         setRePassErr("Password doesn't match")
    //     }
    // }
    // const blurpass2 = (e) => {
    //     let repass = e.target.value
    //     if (repass === "") {
    //         setRePassErr("Confirm password is required")
    //     }
    // }

</script>

{% endblock jsfile %}