{% extends 'base.html' %}
{% load static %}

{% block title %} reset password complete {% endblock title %}

{% block CSS %} {{block.super}} 
<style>
    .image-container {
        background-image: url("{% static 'blogapp/images/pexels-ella-olsson-1640774.jpg' %}");
        background-size:cover;
        height:450px;
    }
    .register-heading{
        color: orange;
    }
    .register-anker{
        text-decoration: none;
        color: black;
    }
    .content-container{
        border-radius:20px;
     }
</style>
{% endblock CSS %}

{% block content %}
{% include "blogapp/navbar.html" %}

<div class="image-container py-xs-0 py-md-5 py-sm-5 py-lg-5 " >
    <div class="content-container  w-50 mx-auto bg-white p-4 mt-5 text-center"><h2 class="text-center pb-3 register-heading">Reset Password Complete</h1>
       <p> Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}" class="mb-2 register-anker sim btn btn-warning mx-auto" >Login </a>
    </div>
</div>
{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}