{% extends 'base.html' %}
{% load static %}

{% block title %} Reset password done{% endblock title %}

{% block CSS %} {{block.super}} 
<style>
    .image-container {
        background-image: url("{% static 'blogapp/images/pexels-ella-olsson-1640774.jpg' %}");
        background-size:cover;
        height:450px;
    }
    
    .register-heading{
        color: orange;
    }
    .content-container{
       border-radius:20px;
    }
</style>
{% endblock CSS %}

{% block content %}
{% include "blogapp/navbar.html" %}

<div class="image-container py-xs-0 py-md-5 py-sm-5 py-lg-5 " >
    <div class="content-container  w-75 mx-auto bg-white p-4 mt-5"><h2 class="text-center pb-3 register-heading">Reset Password Sent</h1>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p></div>
</div>

{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}