{% extends 'base.html' %}
{% load static %}

{% block title %} reset password {% endblock title %}

{% block CSS %} {{block.super}} 
<style>
    .image-container {
        background-image: url("{% static 'blogapp/images/pexels-ella-olsson-1640774.jpg' %}");
        background-size:cover;
        height:450px;
    }
    .register-form{
        border-radius: 20px;
    }
    .register-button{
        background-color: rgb(248, 166, 15);
    }
    .register-heading{
        color: orange;
    }
</style>
{% endblock CSS %}

{% block content %}
{% include "blogapp/navbar.html" %}

<div class="image-container py-xs-0 py-md-5 py-sm-5 py-lg-5 ">
    <form  method="POST" novalidate class="px-4 shadow-lg  mx-auto register-form bg-white col-xs-8 col-sm-8 col-md-5 col-lg-4 py-4 my-5">
        <h2 class="text-center pb-3 register-heading">Reset Password</h1>
        {% csrf_token %}
        {% for fm in form %}
        <div class=my-2>
            {{fm}}
        </div>
        {% endfor%}
        <input type="submit" value="Reset My Password" class="my-2 w-100 btn btn-warning register-button"> 
    </form>
</div>

{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}