{% extends 'base.html' %}
{% load static %}

{% block title %} terms of services {% endblock title %}

{% block CSS %} {{block.super}}
<style>
    .bg-color {
        background-color: whitesmoke;
    }
</style> {% endblock CSS %}

{% block content %}
{% include "blogapp/navbar.html" %}
<section class="bg-color">
<div class="w-75 mx-auto py-5">
    <h3 class="text-center pb-5">Terms of Services</h3>

    <h4>1. INTRODUCTION AND ACCEPTANCE</h4>
    <p>Welcome to thekitchn.com (the “Website”). The Website is an interactive online service operated by Apartment
        Therapy, LLC (“us”, “we” or “our”).</p>

    <p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THE WEBSITE. BY ACCESSING AND/OR USING THE WEBSITE (OTHER
        THAN TO READ THESE TERMS OF USE FOR THE FIRST TIME) YOU ARE AGREEING TO COMPLY WITH THESE TERMS OF USE, WHICH
        MAY CHANGE FROM TIME TO TIME AS SET FORTH IN SECTION 18 BELOW. <b>
            THESE TERMS OF USE REQUIRE YOU TO AGREE TO ARBITRATE DISPUTES RATHER THAN GOING TO COURT, GRANT US CERTAIN
            RIGHTS AND LICENSES, PROVIDE US CERTAIN INDEMNITIES, WAIVE CERTAIN OF YOUR RIGHTS AND REMEDIES, AND LIMIT
            OUR LIABILITY AND OBLIGATIONS TO YOU. READ THEM CAREFULLY AND DO NOT USE THE WEBSITE OR PURCHASE OUR
            PRODUCTS OR SERVICES IF YOU DO NOT AGREE.</p>

    <p>You agree that these Terms of Use are supported by good and valuable consideration, the receipt and sufficiency
        of which you hereby acknowledge. Such consideration includes, without limitation, your use of the Website and
        the materials and information available on the Website and the possibility of publication or publicity of your
        User Content (as defined in Section 6 below).
        </b> </p>

    <p>We reserve the right to change any of these Terms of Use at any time without prior notice to you. You agree that
        our posting of revised Terms of Use on the Website will constitute notice to you of such revised Terms of Use
        and that your access or use of the Website after such posting constitutes your agreement to be bound by such
        changes and the revised Terms of Use. Consequently, please review these Terms of Use before each and any access
        or use of the Website. Any changes to these Terms of Use will become a part of these Terms of Use and will apply
        as soon as they are posted or such later date as may be specified in the posted Terms of Use.</p>

    <p>Unless explicitly stated otherwise, any new features or functionality that augment or enhance the Website will be
        subject to these Terms of Use.</p>

    <p>In addition to these Terms of Use, Apartment Therapy has established a Privacy Policy to explain how user
        information is collected and used by Apartment Therapy. A copy of our Privacy Policy can be found here, and is
        incorporated by reference into these Terms of Use. By accessing or using the Website, you are signifying your
        acknowledgement and agreement to our Privacy Policy.</p>

    <h4>2. INTELLECTUAL PROPERTY</h4>
    <p>The Website and included content (and any derivative works or enhancements of the same) including, but not
        limited to, all text, illustrations, files, images, software, scripts, graphics, photos, sounds, music, videos,
        information, content, materials, products, services, URLs, technology, documentation and interactive features
        (collectively, the “Website Content”), and all intellectual property rights to the same, are owned by us, our
        licensors or both. Additionally, all trademarks, service marks, trade names and trade dress that may appear on
        the Website are owned by us, our licensors or both. Except for the limited use rights granted to you in these
        Terms of Use, you shall not acquire any right, title or interest in the Website or any Website Content. Any
        rights not expressly granted in these Terms of Use are expressly reserved.</p>

    <h4>3. WEBSITE ACCESS AND USE</h4>
    <p>A. Access to the Website including, without limitation, the Website Content, is provided for your information and
        personal, non-commercial use only. When using the Website, you agree to comply with all applicable federal,
        state and local laws including, without limitation, copyright law. Except as expressly permitted in these Terms
        of Use, you may not use, reproduce, distribute, create derivative works based upon, publicly display, publicly
        perform, publish, transmit or otherwise exploit Website Content for any purpose whatsoever without obtaining
        prior written consent from us or, in the case of third-party content, its respective owner. In certain
        instances, we may permit you to download or print Website Content or both. In such a case, you may download or
        print (as applicable) one copy of Website Content for your personal, non-commercial use only. You acknowledge
        that you do not acquire any ownership rights by downloading or printing Website Content.</p>

    <p>B. Except as expressly permitted in these Terms of Use, you may not:</p>

    <p>i. remove, alter, cover or distort any copyright, trademark or other proprietary rights notice on the Website or
        Website Content;</p>

    <p>ii. circumvent, disable or otherwise interfere with security-related features of the Website including, without
        limitation, any features that prevent or restrict use or copying of any content or enforce limitations on the
        use of the Website or Website Content;</p>

    <p>iii. use an automatic device (such as a robot or spider) or manual process to copy or “scrape” the Website or
        Website Content for any purpose without the express written permission of Apartment Therapy;</p>

    <p>iv. collect or harvest any personally identifiable information from the Website including, without limitation,
        user names, passwords or email addresses;</p>

    <p>v. solicit other users to join or become members of any commercial online service or other organization;</p>

    <p>vi. attempt to or interfere with the proper working of the Website or impair, overburden or disable the same;</p>

    <p>vii. decompile, reverse engineer or disassemble any portion of the Website;</p>

    <p>viii. use network-monitoring software to determine architecture of or extract usage data from the Website;</p>

    <p>ix. encourage conduct that violates any local, state or federal law, either civil or criminal, or impersonate
        another user, person or entity (e.g., using another person’s Membership (as defined in Section 5(B) below)
        without permission);</p>

    <p>x. violate U.S. export laws, including, without limitation, the Export Administration Act and the Export
        Administration Regulations administered by the Department of Commerce; or</p>

    <p>xi. engage in any conduct that restricts or inhibits any other user from using or enjoying the Website.</p>

    <p>C. Notwithstanding anything to the contrary contained in clause (B)(iii) above, Apartment Therapy grants public
        search engine operators permission to use automatic devices (such as robots or spiders) to copy Website Content
        from the Website for the sole purpose of creating (and only to the extent necessary to create) a searchable
        index of Website Content that is available to the public. We reserve the right to revoke this permission
        (generally or specifically) at any time.
    </p>
    <p>D. You agree to cooperate fully with Apartment Therapy to investigate any suspected or actual activity that is in
        breach of these Terms of Use.</p>

    <h4>4. CONDITIONS FOR LINKING TO THE WEBSITE</h4>
    <p>We hereby grant you a non-exclusive, limited license, revocable at our discretion, for any reason and for no
        reason, for you to link to the Website home page from any site you own or control that is not commercially
        competitive with the Website and does not criticize or otherwise injure us, so long as the site where the link
        resides, and all other locations to which such site links, comply with all applicable laws and do not in any way
        abuse, defame, stalk, threaten or violate the rights of privacy, publicity, intellectual property or other legal
        rights of others or, in any way, post, publish, distribute, disseminate or facilitate any inappropriate,
        infringing, defamatory, profane, indecent, obscene or illegal/unlawful information, topic, name or other
        material or that violates the spirit of our mission. Such a link is not an endorsement of such other site(s) by
        us. All of our rights and remedies are expressly reserved.</p>

    <h4>5. USER REGISTRATION</h4>
    <p>A. In order to access or use some features of the Website, you will have to become a registered user. If you are
        under the age of thirteen, then you are not permitted to register as a user or otherwise submit personal
        information to Apartment Therapy.</p>

    <p>B. If you become a registered user, you will provide true, accurate and complete registration information and, if
        such information changes, you will promptly update the relevant registration information. During registration,
        you will create a username and password (a “Membership”), which may grant you access to certain areas of the
        Website not available to non-registered users. You are responsible for safeguarding and maintaining the
        confidentiality of your Membership. You are solely responsible for the activity that occurs under your
        Membership, whether or not you have authorized the activity. You agree to notify us immediately at
        legal@apartmenttherapy.com of any breach of security or unauthorized use of your Membership.</p>

    <h4>6. USER CONTENT; COMMENTS</h4>
    <p>A. We may now or in the future permit users to post, upload, transmit through or otherwise make available on the
        Website (collectively, “submit”) messages, comments, text, illustrations, files, images, graphics, photos,
        sounds, music, videos, information, content and/or other materials (“User Content”). Subject to the rights and
        license you grant herein, you retain all right, title and interest in your User Content. It is your sole
        responsibility to monitor and protect any intellectual property rights that you may have in your User Content,
        and we do not accept any responsibility for the same. The interactive areas of the Website are provided to give
        users a forum to express their opinions and share their ideas and information. To protect your safety, please
        use your best judgement when submitting information to the Website. We particularly discourage divulging
        personal phone numbers and addresses or other information that can be used to identify or locate you on the
        public areas of the Website. We do not guarantee any confidentiality with respect to User Content, even if it is
        not published on the Website.</p>

    <p>B. You shall not submit any User Content protected by copyright, trademark, patent, trade secret, moral right or
        other intellectual property, personal, contractual, proprietary or other third-party right without the express
        permission of the owner of the respective right. You are solely liable for any damage resulting from your
        failure to obtain such permission or from any other harm resulting from User Content that you submit.</p>

    <p>C. By submitting any User Content on, or communicating with, the Website or other channel (including, but not
        limited to: posting a comment to a Website post; publishing a picture or video on our Facebook profile;
        participating in an Internet conversation by publishing a Tweet that incorporates a hashtag encouraged by or
        otherwise referencing us or the Website, or via Instagram or other social media platform; submitting User
        Content to us via email in response to a request for submissions on the Website or other social media platform),
        you represent, warrant and covenant that you will not submit any User Content that:</p>

    <p>i. violates or infringes in any way upon the rights of others, including, but not limited to, any copyright,
        trademark, patent, trade secret, moral right or other intellectual property, personal, contractual, proprietary
        or other third-party right of any person or entity;</p>

    <p>ii. impersonates another or is unlawful, threatening, abusive, libelous, defamatory, invasive of privacy or
        publicity rights, vulgar, obscene, profane, pornographic, lewd, lascivious, filthy, excessively violent,
        harassing or otherwise objectionable;</p>

    <p>iii. encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise
        violate any law;</p>

    <p>iv. is an advertisement for goods or services or a solicitation of funds;</p>

    <p>v. includes personal information such as messages that identify phone numbers, social security numbers, account
        numbers, addresses or employer references;</p>

    <p>vi. contains a formula, instruction or advice that could cause harm or injury;</p>

    <p>vii. is a chain letter of any kind; or</p>

    <p>viii. would result in us having any obligation or liability to any party.</p>

    <p>Moreover, any conduct by a user that in our sole discretion restricts or inhibits any other user from using or
        enjoying the Website will not be permitted.</p>

    <p>D. By submitting User Content to us, simultaneously with such posting you automatically grant, or warrant that
        the owner has expressly granted, to us a worldwide, royalty-free, perpetual, irrevocable, non-exclusive, fully
        sublicensable and transferable right and license to use, record, sell, lease, reproduce, distribute, create
        derivative works based upon (including, without limitation, translations), publicly display, publicly perform,
        transmit, publish and otherwise exploit the User Content (in whole or in part) as we, in our sole discretion,
        deem appropriate, including, without limitation: (i) in connection with our business; and (ii) in connection
        with the businesses of our successors, parents, subsidiaries and their related companies. We may exercise this
        grant in any format, media or technology now known or later developed for the full term of any copyright that
        may exist in such User Content. Furthermore, you also grant other users permission to access your User Content
        and to use, record, sell, lease, reproduce, distribute, create derivative works based upon, publicly display,
        publicly perform, transmit, publish and otherwise exploit your User Content for personal, non-commercial use as
        permitted by the functionality of the Website and these Terms of Use. The granted rights include the right to
        configure, host, index, cache, digitize, compress, optimize, modify, edit, adapt and remove such content and
        combine the same with other materials. Furthermore, we are free to use any ideas, concepts, know-how or
        techniques contained in any User Content you submit without any remuneration or obligation to you.</p>

    <p>E. By submitting User Content, you also grant us the right, but not the obligation, to use your biographical
        information including, without limitation, your name and geographical location in connection with broadcast,
        print, online or other use or publication of your User Content. Notwithstanding the foregoing, you waive any and
        all claims you may now or later have in any jurisdiction to so-called “moral rights” or rights of “droit moral”
        with respect to such User Content.</p>

    <p>F. We reserve the right to display advertisements in connection with your User Content and to use your User
        Content for advertising and promotional purposes. You acknowledge and agree that your User Content may be
        included on the websites and advertising networks of our distribution partners and third-party service providers
        (including their downstream users).</p>

    <p>G. We have the right, but not the obligation, to monitor User Content. Please exercise caution and common sense
        when posting or viewing User Content. We have no obligation to post, maintain or otherwise make use of User
        Content and do not guarantee distribution of User Content. Further, we reserve the right to delete, move or edit
        any User Content submitted at any time, for any reason and in our sole discretion. We may discontinue operation
        of the Website, or your use of the Website, in either case in whole or in part, in our sole discretion. You have
        no right to maintain or access your User Content on the Website and we have no obligation to return your User
        Content or otherwise make it available to you.</p>

    <p>H. The rights granted by you hereunder may not be terminated, revoked or rescinded and are not subject to
        reversion. If you become aware that User Content you have submitted includes any material for which you lack the
        unrestricted right to grant us the rights set forth above without obligations or liability to any third party,
        you agree to promptly provide us with detailed written notice thereof to Apartment Therapy, LLC, 270 Lafayette
        Street, Suite 1300, New York, New York 10012 (Attn: DMCA Agent), or fax number (801) 996-7174.</p>

    <h4>7. WEBSITE CONTENT AND THIRD-PARTY LINKS</h4>
    A. We provide the Website including, without limitation, Website Content and User Content, for entertainment,
    educational and/or promotional purposes only. You may not rely on any information or opinions expressed on the
    Website for any other purpose. In all instances, it is your responsibility to evaluate the accuracy, timeliness,
    completeness or usefulness of Website Content or User Content. Under no circumstances will we be liable for any loss
    or damage caused by your reliance on any Website Content or User Content.
</div>
</section>

{% endblock content %}

{% block footer %}{{block.super}}{% endblock footer %}

{% block jsfile %}{{block.super}} {% endblock jsfile %}